@import config

.custom-select
	display: inline-block
	position: relative
	height: 52px
	width: 200px
	border: 1px solid #afb0b9
	border-radius: 6px 
	background-color: #fff
	box-sizing: border-box
	*
		box-sizing: border-box
		font-family: $userfont


.custom-select_active
	border-radius: 6px 6px 0 0

.custom-select__input
	height: 100%
	width: 100%
	border: none
	border-radius: inherit
	font-size: 15px
	padding: 0 20px
	background-color: #fff
	color: $textcolor

.custom-select__dropdown-wrap
	position: absolute
	top: 70px
	left: -1px
	width: calc(100% + 2px)
	border: 1px solid #afb0b9
	border-radius: 6px
	overflow: hidden
	transition:  $transition
	background-color: #fff
	visibility: visible
	z-index: 10
	box-shadow: 3px 3px 15px rgba(#000, .3)

.custom-select__dropdown-wrap_hide
	opacity: 0
	top: 50px
	visibility: hidden

.custom-select__dropdown
	overflow-y: scroll
	height: 100%
	background-color: #fff
	transition: $transition


.custom-select__item
	display: inline-flex
	align-items: center
	cursor: pointer
	transition: $transition
	padding: 0 20px
	border-bottom: 1px solid #afb0b9
	width: 100%
	height: 40px
	color: $textcolor
	font-size: 15px
	background-color: #fff
	&:last-child
		border-bottom: 0
	&:hover, &_active
		background-color: $accent
		color: #fff
		.custom-select__marker
			color: #000
	&_hide
		display: none



.custom-select__marker
	background-color: yellow
	font-style: normal
	border-radius: 3px
	transition: $transition


.custom-select__required::before
	content: '*'
	position: absolute
	color: #EB4A1C
	top: -15px
	right: -7px

.custom-select__message
	color: $errorcolor
	font-size: 12px
	transition: $transition
	user-select: none
	position: absolute
	top: 100%
	left: 0

.custom-select__message_hide
	opacity: 0
	visibility: hidden

.custom-select_error-border
	border-color: $errorcolor

body
	display: flex
	justify-content: center
	align-items: center
	height: 100vh
	margin: 0
	padding: 0

.custom-select
	margin: auto 10px